@page
@model WebdevProjectStarterTemplate.Pages.Home


<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>

<a asp-page="Home" asp-page-handler="Logout">Logout</a>

</body>

