@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1>Welcome @Model.UserName</h1>
<div class="text-center">
    <h1><a asp-page="Categories/Index">CRUD Categorie voorbeeld</a></h1>
    <p>Voor code zie directory: Pages/Categories</p>
</div>


<div class="text-center">
    <h1><a asp-page="@nameof(DisplayProducts)">Weergave van producten</a></h1>
    <h1><a asp-page="@nameof(DisplayCategories)">Weergave van categorieën met bijbehorende producten</a></h1>
    
    <p>Voor code zie directory respectievelijk: DisplayCategories.cshtml & DisplayProducts.cshtml. 
        Zie de repositories voor bijbehorende SQL code (LEFT JOIN en JOIN)</p>
</div>

