@page
@using WebdevProjectStarterTemplate.Models
@model WebdevProjectStarterTemplate.Pages.Overzicht

<div class="row mt-3">
    <div class="col" style="width: fit-content">
        @if (Model.OrderLine != null)
        {
            @foreach (var orderLine in Model.OrderLine)
            {
                <ul class="list-group">
                    <li class="list-group-item"> <b>Name:</b> @orderLine.Name</li>
                    <li class="list-group-item"> <b>Price:</b> @orderLine.Price</li>
                    <li class="list-group-item"> <b>Amount:</b> @orderLine.Amount</li>
                </ul>
            }
        }
    </div>
</div>
@Model.Total