@page
@model WebdevProjectStarterTemplate.Pages.Register

<h3>Login Form</h3>
<div class="row">
    <div class="col-lg-9 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">Login</h2>
        <form method="post">
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Username</label>
                <input class="form-control" asp-for="UserName">
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Password</label>
                <input class="form-control" asp-for="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Repeat password</label>
                <input class="form-control" asp-for="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Email</label>
                <input class="form-control" asp-for="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="offset-sm-4" col-sm-8>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>

    </div>
</div>