@page
@model WebdevProjectStarterTemplate.Pages.Register

<div class="row">
    <div class="col-lg-9 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">Register</h2>
        <form method="post">
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Username</label>
                <input class="form-control" asp-for="Username">
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Password</label>
                <input class="form-control" asp-for="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Repeat password</label>
                <input class="form-control" asp-for="PasswordCheck">
                <span asp-validation-for="PasswordCheck" class="text-danger"></span>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Email</label>
                <input class="form-control" asp-for="Mail">
                <span asp-validation-for="Mail" class="text-danger"></span>
            </div>
            @* <div class="div">@Model.Message</div> *@
            <div class="row">
                <div class="offset-sm-4" col-sm-8>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>

    </div>
</div>